.App {
  display: flex;
  justify-content: space-around;
}

.chakydiv{
  margin: 20px;
  width: 200px;
  height: auto;
  border: 1px solid grey;
  word-break: break-all;
}
.jokleft{
  text-align: center;
  width: 600px;
  height: auto;
  border: 2px solid pink;
  display: flex;
  justify-content: space-around;
}
.jokright{
  width: 600px;
  height: auto;
  border: 1px solid red;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.heat{
  color: blue;
}
.heatrem{
  color: red;
}
.resetJokes{
  width: 300px;
  height: auto;
  border: 1px solid;
}