.App {
  display: flex;
  justify-content: space-around;
}

.chakydiv{
  margin: 20px;
  width: 200px;
  height: auto;
  border: 1px solid grey;
  word-break: break-all;
}
.jokleft{
  text-align: center;
  width: 700px;
  height: auto;
  border: 2px solid pink;
  display: flex;
  justify-content: space-around;
}
.jokright{
  width: 300px;
  height: auto;
  border: 1px solid red;
  text-align: center;
}
